@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom right, #E0F7FA, #F3E5F5, #FCE4EC);
  font-family: Arial, Helvetica, sans-serif);
  min-height: 100vh;
}
